* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Serif', serif;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

header {
  align-items: center;
  background-color: #242122;
  display: flex;
  height: 340px;
  justify-content: center;
}

.menu {
  background-color: #242122;
  position: fixed;
  top: 0%;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-evenly;
}

.menu li {
list-style: none;
}

.menu a {
  display: block;
  padding: 5px 20px;
  border-radius: 25px;
  background-color: #242122;
  transition: background-color 1s, color 0.8s;
}

.menu a:hover {
  background-color: #45b207;
  color: #242122;
}  

a {
  color: #45b207;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title  {
  color: #49d101;
  text-align: center;
}
  
.site-title {
  font-size: 80px;
  font-family: 'Bellota Text', cursive;
}

.site-subtitle  {
  font-family: 'Big Shoulders Display', cursive;
  line-height: 1.5em;
}

  /*Aqui começa o h2 Sobre/Serviços*/
  
.sobre {
  background-image: linear-gradient(#242122,#305718);
  background-size: auto 82vh; 
  height: 700px;
  padding-top: 40px;
  padding-left: 40px;
}
.portfolio {
  background-image: linear-gradient(#305718,#45b207);
  background-size: auto 60vh;
  height: 450px;
  padding-top: 40px;
  padding-left: 40px;
}

@media (min-width: 400px) {
  .sobre {
    background-size: auto 115vh;
    height: 780px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 400px) {
  .portfolio {
    background-size: auto 80vh;
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 500px) {
  .sobre {
    background-size: auto 95vh;
    height: 650px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 560px) {
  .sobre {
    background-size: auto 75vh;
    height: 520px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 600px) {
  .sobre {
    background-size: 65vh;
    height: 550px;
    padding-top: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 600px) {
  .portfolio {
    background-size: 40vh;
    height: 400px;
    padding-top: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 700px) {
  .sobre {
    background-size: 55vh;
    height: 500px;
    padding-top: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 900px) {
  .sobre {
    background-size: 45vh;
    height: 400px;
    padding-top: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 1200px) {
  .sobre {
    background-size: auto 58vh;
    height: 400px;
    padding-top: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 1200px) {
 .portfolio {
    background-size: auto 400px;
    height: 400px;
    padding-top: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 1300px) {
  .sobre {
    background-size: auto 58vh;
    height: 420px;
    padding-top: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 1400px) {
  .sobre {
    background-size: auto 53vh;
    height: 420px;
    padding-top: 10px;
    padding-left: 10px;
  }
}
  
.sobre h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 50px;
  margin-bottom: 20px;
  color: #49d101;
}
.portfolio h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 50px;
  color: #49d101;
  margin-bottom: 30px;
}

.sobre p {
  color: black;
  text-align: justify;
  text-indent: 15px;
  margin-bottom: 10px;
}

.sobre .avatar img {
  float: left;
  clip-path: polygon(86% 0, 100% 55%, 83% 100%, 20% 100%, 39% 54%, 25% 0);
}

@media (min-width: 400px) {
  .sobre .avatar img {
    float: left;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    margin-left: 20px;
    height: 340px;
    width: 340px;
  }
}
@media (min-width: 560px) {
  .sobre .avatar img {
    float: left;
    clip-path: polygon(86% 0, 100% 55%, 83% 100%, 20% 100%, 39% 54%, 25% 0);
    height: 300px;
    width: 300px;
    margin-right: 10px;
  }
}

@media (min-width: 600px) {
  .sobre .avatar img {
    float: left;
    clip-path: polygon(86% 0, 100% 55%, 83% 100%, 20% 100%, 39% 54%, 25% 0);
    height: 300px;
    width: 300px;
    margin-right: 10px;
  }
}

.portfolio .grid {
  display: grid;
  grid-template-columns: repeat(3, 170px);
}

@media (min-width: 400px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 120px);
  }
}

@media (min-width: 500px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 160px);
  }
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 180px);
  }
}

@media (min-width: 600px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 190px);
  }
}
@media (min-width: 700px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 230px);
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 270px);
    align-content: center;
    justify-content: center;
  }
}
@media (min-width: 1100px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 380px);
    align-content: center;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 370px);
    align-content: center;
    justify-content: center;
  }
}
@media (min-width: 1300px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 430px);
    align-content: center;
    justify-content: center;
  }
}
@media (min-width: 1400px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 450px);
    align-content: center;
    justify-content: center;
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;
}

@media (min-width: 400px) {
  .img-portfolio {
    height: 90px;
    width: 90px;
  }
}
 
/*Aqui começa o h3 Contato*/

.contato {
  background-color: #242122;
  width: 100%;
}
  
.contato .icons {
  text-align: center;
}
.contato a {
  color: #49d101;
  font-size: 40px;
  padding-left: 40px;
  transition: text-shadow 1s;
}

.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 5px currentColor;
}
